@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
};
body {
    overflow: hidden;
}
html{
    background: url(img/8135.png) no-repeat center center fixed;
    background-size: cover;
    scroll-behavior: smooth;
}

.container-fluid {
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    position: fixed;
    top: 0;
    left: 0;
}
@media screen and (max-width: 1024px) {
    .container {
        left: 50%;
        margin-left: -512px;
    }
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 65px;
    line-height: 65px;
    z-index: 111;
    background-color: #004A67;
}
.logo{ 
    display: flex;
    font-size: 30px;
    font-weight: 800;
    color: #F9BFB6;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    float: left;
    margin-right: 1000px;
}
b{ /* DOT. */
    font-size: 60px;
    color: #5F99B5;
}

.navItems{
    display: flex;
    position: absolute;
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
.navItems li a{
    font-size: 25px;
    color: #5F99B5;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.3s;
}
.navItems li:hover a,
.links a:hover{
    color:#066F92;
}
.links a{
    float: right;

    font-size: 30px;
    color: #5F99B5;
    transition: 0.3s;
    margin: 0px 10px;
}

.wrapper{
display: flex;
width: 100%;
height:  calc(100vh - 100px);
justify-content: left;
align-items: center;
padding: 0 10%;
overflow: hidden;
}

#anims .bubble1x{
    position: absolute;
    content: '';
    height: 350px;
    width: 350px;
    border-radius: 50%;
    left: 4%; 
    top: 25%;
    background: linear-gradient(30deg, #004A67, #5F99B5);
    animation: bubble1 7s ease-in-out infinite
}
#anims .bubble2x{
    position: absolute;
    content: '';
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 80%;
    top: 20%;
    background: linear-gradient(10deg, #F9BFB6, #FDEB9E);
    animation: bubble2 8s ease-in-out infinite
}
#anims .bubble3x{
    position: absolute;
    content: '';
    height: 45px;
    width: 45px;
    border-radius: 50%;
    left: 90%;
    top: 20%;
    background: linear-gradient(30deg, #F9BFB6, #FDEB9E);
    animation: bubble3 8s ease-in-out infinite
}
@keyframes bubble1{
    50%{
        left: 4%;
        top: 20%;
    }
}
@keyframes bubble2{
    50%{
        left: 80%;
        top: 10%; 
    }
}
@keyframes bubble3{
    50%{
        left: 90%;
        top: 10%; 
    }
}
.cols{
    width: 50%;
}
.cols0{
    width: 60%;
    z-index: 5;
}

.topLine{ /* First Line of Descriptor.*/
    display: block;
    position: relative;
    font-size: 40px;
    letter-spacing: 5px;
    color:#F9BFB6 ; 
}
.topLine::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #F9BFB6;
}
#im{ 
    display: block;
    font-size: 3em;
    color: #5F99B5;
}
.multiText{ /* Describer*/
    color:#F9BFB6;
    font-weight: bold;
    text-transform: capitalize;
}

p{ /* Small descrip text*/
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #FDEB9E;
}
#pst{
    font-size: 0.7em;
}

#emailButton{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    color: #004A67;
    background-color: #5F99B5;
    padding: 8px 14px;
    margin: 0px 5px;
    letter-spacing: 2px;
    text-decoration: none;
}
#emailButton:hover{
    background-color: #F9BFB6;
}
#imgSource{ /* Image source for background image*/
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    color: #004A67;
    background-color: #5F99B5;
    padding: 10px 5px;
    margin: 0px 0px;
    letter-spacing: 2px;
    text-decoration: none;
    float: right;
}
#imgSource:hover{
    background-color: #F9BFB6;
    box-shadow: -3px, -30px, black;
}